#background_img {
/*    background-image: url('../images/background.jpg');  */
/*    background-size: 100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.ui-page {
/*    background : transparent url('../images/background.jpg');  */
    background-image: url('images/background.jpg');
    background-size : cover;
}

#info_page > h1 {
    color: lime;
}

div[data-role=content] {    
    /*
    background-image: url('../images/background.jpg');  
    background-size: 100% 100%;
    background-repeat: no-repeat;
        */
}

#love_img {
    width: 400px;
    height: 400px;
}

#message {
    position: absolute;
    left: 100px;
    top: 150px;
    width: 400px;
    font-size: large;
    color: #4cff00;
}


div[data-type=horizontal] {
    position: absolute;
    left: 20px;
    top: 300px;
}

div[data-type=vertical] {
    position: absolute;
    right: 100px;
    top: 300px;
}

#navigation {

}

#imgs {
    float: left;
    display: inline;  
    padding: 0;
    margin: 0;
    height: 1000px;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    /*apply a transform to kick in the hardware acceleration.  Without this, the first
    time we add the transform you get odd rendering of the divs (half missing) */
    transform: translate(0, 0);
}

#imgs img {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 319px;

    /*apply a transform to kick in the hardware acceleration.  Without this, the first
    time we add the transform you get odd rendering of the divs (half missing) */
    transform: translate(0, 0);
}

/* Set the background image sources */
#test1 { background-image: url(images/test1.png); }
#test2 { background-image: url(images/test2.png); }
#test3 { background-image: url(images/test3.png); }

